h1{
  color:#d98ba6;
  border:solid 1px;
}
p{
  border:solid 1px;
}
body{
  color:#ae8bd9;
}
a{
  color:#fff;
  background:#f8e83b;
  padding:0px 2px 0px 2px;
  margin-right:1px;
}
.container{
  top:10px;
  left:100px;
  max-width:575px;
}
.col-xs-4{
}
.img{
  width:100%;
}
.box3{border:#d98ba6 outset 5px;
}
.box4{color:#999999;
  border:dashed 1px;
}
.box5{color:#fedcde;
  border:solid 2px;
}
.box6{color:#fef19c;
  border:dotted 5px;
}

#board{
  position:absolute;
}